<.vstack platform={@platform} nav-title={@name}>
  <.asyncimage platform={@platform} src={"/images/cats/#{@name}.jpg"} frame-width="300" frame-height="300" />
  <.cat_rating platform={@platform} score={@score} />
</.vstack>